{% extends "base.html" %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'game.css' %}">
{% endblock %}

{% block 'nav' %}
    <nav class="px-5 py-4 bg-slate-700 shadow-2xl text-center border-slate-400 rounded-sm border">
        <ul class="tracking-wide font-semibold grid grid-cols-12 gap-1">
            <li class="border-2 col-start-1 col-end-2 border-slate-600 shadow-md drop-shadow-md">
                <a href="/" class="uppercase block bg-slate-500 hover:bg-slate-400 py-2">
                    <i class="fa-solid fa-xl fa-home mb-4" style="color: #FFFFFF;"></i>
                    <span class="block text-sm">Home</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block 'aside-left' %}{% endblock %}
{% block 'main' %}

    <div id="mid_holder" class="col-start-1 col-end-13 bg-slate-600 border-slate-400 rounded-sm border">
        <section class="p-5">

            <div class="content">
                {% if server_enabled %}
                <canvas class="bg-slate-500" id="canvas_game">

                </canvas>

                <div id="game_bar" class="hidden flex px-4">
                    <ul class="my-auto">
                        <li id="game_bar_settings" class="pr-2"><button class="btn bg-blue-500 p-1">SETTINGS</button></li>
                        <li class="px-2"><button class="bg-blue-500 p-1">EMPTY BUTTON</button></li>
                        <li class="pl-2"><button class="bg-blue-500 p-1">EMPTY BUTTON</button></li>
                    </ul>
                </div>

                <div id="game_bar_left" class="hidden py-4 px-3">
                    <ul class="text-center">
                        <li id="game_bar_left_equipment" class="bg-blue-500">
                            <button onclick="player_inventory.toggle()" class="py-2 btn w-full">INV</button>
                        </li>

                        <li class="my-5 bg-blue-500">
                            <button onclick="player_attributes.toggle()" class="py-2 btn w-full">CHR</button>
                        </li>

                        <li class="bg-blue-500">
                            <button class="py-2 w-full">E</button>
                        </li>
                    </ul>
                </div>

                <div class="hidden flex p-5" id="game_options">
                    <div class="flex-auto">
                        <div class="h-1/2 bg-slate-400/50">
                            <p class="bg-slate-300/50">Display</p>
                            <ul id="game_options_display" class="text-left p-3">
                                <li class="mb-2">
                                    <span>Draw map mesh</span>
                                    <input type="checkbox" id="draw_map_mesh" name="draw_map_mesh">
                                </li>
                                <li class="mb-2">
                                    <span>Draw ground info</span>
                                    <input type="checkbox" id="draw_ground_info" name="draw_ground_info">
                                </li>
                                <li>
                                    <span class="p-2 bg-orange-400">Square Size</span>
                                    <button class="options_square_size_not_selected">32</button>
                                    <button class="options_square_size_not_selected">64</button>
                                    <button class="options_square_size_not_selected">96</button>
                                    <button class="options_square_size_not_selected">128</button>
                                    <button class="options_square_size_not_selected">160</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="content_wrap ">
                    <canvas class="hidden" id="canvas_ground">

                    </canvas>

                    <canvas class="hidden" id="canvas_items">

                    </canvas>

                    <div class="p-0 m-0 hidden" id="game_grid">

                    </div>

                    <canvas class="hidden" id="canvas_players">

                    </canvas>

                    <div class="p-3 hidden" id="player_attributes">
                        <p class="my-2 bg-neutral-200"><span id="attr_name"></span>, <span id="attr_vocation"></span></p>
                        <p class="relative my-2 bg-neutral-200">

                            <span class="absolute bar-content">
                                <span id="bar_progress_level" class="absolute bar">.</span>
                                <span class="absolute bar-description">
                                    <span class="span-top">Level:</span>
                                    <span class="span-top" id="attr_level"></span>
                                    <span class="span-top">(exp:</span>
                                    <span class="span-top" id="attr_experience"></span>
                                    <span class="span-top">)</span>
                                </span>

                            </span>


                        </p>
                        <p class="my-2 bg-green-300">Skills</p>
                        <p class="my-2 bg-red-300">Fist Fighting: <span id="attr_skill_fist"></span></p>
                        <p class="my-2 bg-red-300">Club Fighting: <span id="attr_skill_club"></span></p>
                        <p class="my-2 bg-red-300">Sword Fighting: <span id="attr_skill_sword"></span></p>
                        <p class="my-2 bg-red-300">Axe Fighting: <span id="attr_skill_axe"></span></p>
                        <p class="my-2 bg-red-300">Sheilding: <span id="attr_skill_shielding"></span></p>
                    </div>

                    <div class="" id="inventory">
                        <div class="equipment test p-2">
<!--                            <p class="mb-2 test text-neutral-200">Player Inventory</p>-->
<!--                            <div class="eq_left-hand">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_right-hand">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_legs">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_boots">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_belt">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_ring">-->
<!--                                <div></div>-->
<!--                            </div>-->
<!--                            <div class="eq_amulet">-->
<!--                                <div></div>-->
<!--                            </div>-->
                        </div>


                        <div class="bag non_selectable">
                            <p class="m-4 mx-5 bg-slate-500 ">Player Bag</p>
                            <div data-id="0" class="bag_0">
                                <img class="non_selectable" src="{% static 'sprites/weapons.png' %}">
                            </div>

                            <div data-id="1" class="bag_1">
                                <img class="non_selectable">
                            </div>

                            <div data-id="2" class="bag_2">
                                <img class="non_selectable">
                            </div>

                            <div data-id="3" class="bag_3">
                                <img class="non_selectable">
                            </div>

                            <div data-id="4" class="bag_4">
                                <img class="non_selectable" src="{% static 'sprites/weapons.png' %}">
                            </div>

                            <div data-id="5" class="bag_5">
                                <img class="non_selectable" src="{% static 'sprites/weapons.png' %}">
                            </div>

                            <div data-id="6" class="bag_6">
                                <img class="non_selectable" src="{% static 'sprites/weapons.png' %}">
                            </div>

                            <div data-id="7" class="bag_7">
                                <img class="non_selectable" src="{% static 'sprites/weapons.png' %}">
                            </div>
                        </div>
                    </div>

                </div>

                <div id="chat_box" class="bg-slate-900/80 hidden py-2">
                    <div id="chat-btn-close" class="mb-2">x</div>
                    <div id="messages"></div>
                </div>

                <ul class="character_list">
                    {% if characters %}
                    <p class="pt-3">Choose your character:</p>
                    {% else %}
                    <p>Create your first <a class="font-bold text-blue-300" href="/character_manager/">character</a>!</p>
                    {% endif %}
                </ul>

            {% else %}
                Redis server is not available. Contact admin.
            {% endif %}

            </div>


        </section>
    </div>
{% endblock %}

{% block 'scripts' %}
<script src="{% static 'classes/canvas.js' %}"></script>
<script src="{% static 'classes/sprites.js' %}"></script>
<script src="{% static 'classes/game_bar.js' %}"></script>
<script src="{% static 'classes/screen.js' %}"></script>
<script src="{% static 'classes/worldmap.js' %}"></script>
<script src="{% static 'classes/player_attributes.js' %}"></script>
<script src="{% static 'classes/inventory.js' %}"></script>
<script src="{% static 'classes/player.js' %}"></script>
<script src="{% static 'classes/item.js' %}"></script>
<script src="{% static 'classes/chat.js' %}"></script>
<script src="{% static 'classes/mouse.js' %}"></script>
<script src="{% static 'classes/ground.js' %}"></script>
<script src="{% static 'classes/settings.js' %}"></script>

<script src="{% static 'connection.js' %}"></script>
<script src="{% static 'game.js' %}"></script>
{% endblock %}

{% block 'aside-right' %}{% endblock %}

