<section class="p-5">
    <h3 class="bg-red-800 border-slate-900 border text-neutral-200 font-bold text-center">Admin Panel</h3>
    <ul class="tracking-wide font-semibold">
        <li class="border-2 col-start-4 col-end-7 border-slate-600 shadow-md drop-shadow-md">
            <a href="/manager_panel/patch_notes/" class="uppercase block bg-slate-500 hover:bg-slate-400 py-3 px-3">
                <i class="fa-solid fa-xl fa-book" style="color: #FFFFFF;"></i>
                <span class="px-2 text-sm">Patch Notes</span>
            </a>
        </li>
    </ul>
</section>