{% extends "base.html" %}

{% block 'main' %}
    <div class="col-start-3 col-end-11 bg-slate-600 border-slate-400 rounded-sm border">
        <section class="p-5">
            {% if guilds %}
            <ul class="bg-slate-700 p-2">
                {% for guild in guilds %}
                    {% if forloop.counter <= 10 %}
                    <li class="border border-slate-400 p-0"><a class="{{ forloop.counter|divisibleby:2|yesno:'hover:bg-slate-300 bg-slate-400, hover:bg-slate-300 bg-slate-500' }} block p-1 m-0 h-full" href="/guilds/{{ guild.name }}">Name: {{ guild.name }}, Leader: {{ guild.leader.name }}</a></li>
                    {%  endif %}
                {% endfor %}
            </ul>
            {% else %}
            No guilds created yet.
            {% endif %}

        <ul class="text-center mt-2">
            {% if page > 1 %}
            <li class="inline px-5"><a href="{% if page > 1 %}{{ page|add:"-1" }}{% else %}1{% endif %}" class="hover:bg-slate-700 p-1 px-2 bg-slate-800 text-blue-400">Previous Page</a></li>
            {% endif %}
            {% if characters|length > 10 %}
            <li class="inline px-5"><a href="{{ page|add:"1" }}" class="hover:bg-slate-700 p-1 px-2 bg-slate-800 text-blue-400">Next Page</a></li>
            {% endif %}
        </ul>

        </section>
    </div>
{% endblock %}